<launch>
    <arg name="robot_name" default="my_gen3"/>
    <arg name="start_delay_seconds" default="1"/>
    <!-- Include dmp launch file -->
    <!-- <include file="~/ws_moveit/src/semicyl_painter/launch/dmp.launch" /> -->
    <include file="$(find semicyl_painter)/launch/dmp.launch" ns="$(arg robot_name)" />
    <include file="$(find semicyl_painter)/launch/tf.launch" />

    <!-- Launch the tf_publisher node -->
    <!-- <node pkg="semicyl_painter" type="publish_tf_from_csv.py" name="motion_planner_node" output="screen">
    </node> -->

    <!-- Launch the motion_planner node -->
    <node pkg="semicyl_painter" type="motion_planner_kinova.py" name="motion_planner_node" ns="$(arg robot_name)" output="screen">
    </node>

    <node pkg="semicyl_painter" type="add_obstacle.py" name="obstacle_node" ns="$(arg robot_name)" output="screen">
    </node>

    <!-- Launch the pose_finder node -->
    <node pkg="semicyl_painter" type="calculate_mould_stroke_points.py" name="pose_publisher_node" ns="$(arg robot_name)" output="screen"  launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' ">
        <!-- Set node-specific parameters -->
        <param name="tool_width" value="0.01" />
        <param name="tool_overlap" value="0.0" />
    </node>
</launch>
